# --- SYSTÈME & IDE ---
.DS_Store
Thumbs.db
.vscode/
!.vscode/settings.json
!.vscode/tasks.json

# --- ENVIRONNEMENTS & DÉPENDANCES ---
.venv/
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd

# --- SECRETS & CONFIG (TRÈS IMPORTANT) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- BUILDS & CACHES ---
.next/
out/
build/
dist/
.eslintcache
.stylelintcache
*.tsbuildinfo

# --- LOGS & TEMPORAIRE ---
*.log
npm-debug.log*
yarn-debug.log*
.npm
.parcel-cache